# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R language
2. SQL
3. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Numpy
3. Matplotlib
4. Pandas

| Data Science Tools |
| -------------|
| R Studio |
| TensorFlow|
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
val = (1-4)^3
print(val)
if(val <0):
    print("Val is a negative integer")
else:
    print("Val is a positive integer")

-2
Val is a negative integer

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5
print(((3*4)+5)==17)

True

In [15]:
# This will convert 200 minutes to hours by diving by 60
print(200/6)

33.333333333333336

**Objectives:**
- Python
- R 
- SQL

## Author
Name: Hamit Ã–zbek